/* Add this CSS to your stylesheet or in the global styles */

@keyframes bgColorTransition {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #1a202c; /* or the color you want */
  }
}

.animate-bg-color-transition {
  animation: bgColorTransition 2s ease-in-out forwards;
}
@keyframes fadeUp {
  from {
    background-color: transparent;
  }
  to {
    background-color: #1e3a8a; /* Replace with your desired color */
  }
}

.fade-up-background {
  animation: fadeUp 2s ease-in-out;
}
